
.mat-dialog-container {
  background: #222; 
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.otp-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

h2.mat-dialog-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.mat-dialog-content {
  font-size: 1.1rem;
  text-align: center;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

button {
  background-color: #3b8d99;
  color: white;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  
  &:hover {
    background: #3b8d99;
  }
}

button[mat-button]:disabled {
  background: gray;
  cursor: not-allowed;
}
