<div class="otp-header">
  <h2 mat-dialog-title>OTP Verification</h2>
  <button class="close-button" (click)="close()" >
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <p>{{ message }}</p>

  <mat-form-field appearance="outline">
    <mat-label>Enter OTP</mat-label>
    <input matInput [(ngModel)]="otp" type="text" maxlength="6" (input)="isButtonDisabled = otp.length !== 6">
  </mat-form-field>

  <p *ngIf="countdown > 0">Time remaining: {{ countdown }}s</p>
</div>

<div mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="verifyOTP()" [disabled]="isButtonDisabled">
    Verify OTP
  </button>

  <button mat-button color="primary" (click)="resend()" 
      *ngIf="countdown === 0" [disabled]="isResending">
    {{ isResending ? 'Resending...' : 'Resend OTP' }}
  </button>
  
  <button mat-button (click)="closeDialog()" *ngIf="showOkButton">OK</button>
</div>
