
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); 
  padding: 100px;
}


.form-card {
  width: 500px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 250px); 
  max-width: 100%;
  min-height: calc(100vh - 60px); 
  padding: 20px;
}


mat-card-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  
  margin-bottom: 20px;
}

label {
  font-size: 15px;
  margin-bottom: 20px;
}

mat-option {
  background-color: #f0f0f0 !important; 
  color: black !important; 
}


mat-option:hover {
  background-color:rgba(74, 170, 154, 0.8) !important; 
  color: black !important;
}


mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}


.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
}

button[type='submit'] {
  width: 48%;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  background-color:rgba(74, 170, 154, 0.8);
}

button[type='button'] {
  width: 48%;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  
}


button[disabled] {
  background-color: #c1c1c1;
  cursor: not-allowed;
}


mat-error {
  color: red;
  font-size: 12px;
  font-weight: normal;
  padding-top: 5px;
}


input.ng-invalid.ng-touched,
mat-select.ng-invalid.ng-touched {
  border: 1px solid red;
}


mat-form-field input,
mat-form-field select {
  height: 10px;
}


@media (max-width: 600px) {
  .form-card {
    width: 90%;
  }
}
