<mat-card class="form-card">
    <mat-card-title>Edit Student Data</mat-card-title>
    <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
      <label>Name</label>
      <mat-form-field appearance="outline">
        <!-- <mat-label>Name</mat-label> -->
        <input matInput formControlName="name" placeholder="Enter name" />
        <mat-error *ngIf="teacherForm.controls['name'].invalid && teacherForm.controls['name'].touched">
          Name is required and must be between 4 and 12 characters.
        </mat-error>
      </mat-form-field>

      <label>Email</label>
      <mat-form-field appearance="outline">
        <!-- <mat-label>Email</mat-label> -->
        <input matInput formControlName="email" placeholder="Enter yur registered email" />
        <mat-error *ngIf="teacherForm.controls['email'].invalid && teacherForm.controls['email'].touched">
          Email is required and must have @ symbol.
        </mat-error>
      </mat-form-field>

  
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="teacherForm.invalid">Edit</button>
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </mat-card>