<div class="forgot-password-container">
    <mat-card class="forgot-password-card">
      <mat-card-header class="forgot-header">
        <mat-card-title class="forgot-title">Reset Password</mat-card-title>
      </mat-card-header>
  
      <mat-card-content class="forgot-content">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <!-- <label>Email</label>  
          <mat-form-field appearance="outline">
            <input matInput formControlName="email" type="email" placeholder="Enter your email" required />
            <mat-icon matSuffix class="email-icon">email</mat-icon>
            <mat-error *ngIf="resetPasswordForm.controls['email'].hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.controls['email'].hasError('email')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field> -->
  
          <label>New Password</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="newPassword" [type]="hidePassword ? 'password' : 'text'" placeholder="Enter new password" required />
            <button matSuffix type="button" (click)="togglePasswordVisibility()" class="password-toggle">
                <mat-icon class="password-icon">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="resetPasswordForm.controls['newPassword'].hasError('required')">
              New password is required
            </mat-error>
          </mat-form-field>

          <label>Confirm Password</label>
          <mat-form-field appearance="outline">
            
            <input matInput formControlName="confirmPassword" [type]="hidePassword ? 'password' : 'text'" placeholder="Confirm your password" class="input-field" >
            <mat-icon matSuffix class="input-icon">lock</mat-icon>
            <mat-error class="input-error" *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['mismatch']">
              Passwords must match.
            </mat-error>                                   
          </mat-form-field>
  
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">
              Reset Password
            </button>
          </div>
        </form>
  
        <!-- Success or error message display -->
        <div *ngIf="isSuccessMessage" class="success-message">
          {{ successMessage }}
        </div>
        <div *ngIf="isErrorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  