/* Full-page centered form container */
.form-card {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
  }
  
  /* Form Title Styling */
  mat-card-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    // color: #3b8d99; /* Primary color */
    margin-bottom: 20px;
  }
  
  mat-option:hover {
    background-color: #3b8d99;
  }
  /* Form Fields Styling */
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Styling for the submit button */
  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button[type='submit'] {
    width: 48%;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
    border-radius: 10px;
    background-color:rgba(74, 170, 154, 0.8);
  }
  
  button[type='button'] {
    width: 48%;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
    border-radius: 10px;
  }
  
  /* Disable button styles */
  button[disabled] {
    background-color: #c1c1c1;
    cursor: not-allowed;
  }
  
  /* Custom Error Styling */
  mat-error {
    color: red;
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
  }
  
  label {
    font-size: 15px;
    // font-weight: bold;
    // color: #3b8d99; /* Primary color */
    margin-bottom: 15px;
  }
  
  // /* Field validation error */
  // input.ng-invalid.ng-touched,
  // mat-select.ng-invalid.ng-touched {
  //   border: 1px solid red;
  // }
  
  /* Style for all options inside the dropdown */
  mat-option {
    background-color: #f0f0f0 !important; /* Light gray background */
    color: black !important; /* Text color */
  }
  
  /* Change background color when hovered */
  mat-option:hover {
    background-color:rgba(74, 170, 154, 0.8) !important; /* Light blue on hover */
    color: black !important;
  }
  
  
  /* Add some space between fields and improve input field height */
  mat-form-field input,
  mat-form-field select {
    height: 15px;
  }
  
  
  /* Responsive Design for Small Screens */
  @media (max-width: 600px) {
    .form-card {
      width: 90%;
    }
  }
  