<mat-card class="form-card">
    <mat-card-title>Add Student Data</mat-card-title>
    <form [formGroup]="addStudentForm" (ngSubmit)="onSubmit()">
      <label>Name</label>
      <mat-form-field appearance="outline">
        <!-- <mat-label>Email</mat-label> -->
        <input matInput formControlName="name" placeholder="Enter teacher name" />
        <mat-error *ngIf="addStudentForm.controls['name'].invalid && addStudentForm.controls['name'].touched">
            Name is required and must be between 4 and 12 characters.
        </mat-error>
      </mat-form-field>

      <label>Email</label> 
      <mat-form-field appearance="outline">
        <!-- <mat-label>Email</mat-label> -->
        <input matInput formControlName="email" placeholder="Enter teacher email" />
        <mat-error *ngIf="addStudentForm.controls['email'].invalid && addStudentForm.controls['email'].touched">
          Email is required and must have @ symbol.
        </mat-error>
      </mat-form-field>


      <label>Password</label> 
      <mat-form-field class="full-width login-input" appearance="outline">
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" class="password-input" placeholder="Enter your password" required>
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()" class="password-toggle">
          <mat-icon class="password-icon">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error class="password-error" *ngIf="addStudentForm.controls['password'].invalid && addStudentForm.controls['password'].touched">
          Password is required.
        </mat-error>
      </mat-form-field>

      <label>Subject</label> 
      <mat-form-field appearance="outline">
        <!-- <mat-label>Subject</mat-label> -->
        <mat-select formControlName="subject" placeholder="Select subject">
          <mat-option *ngFor="let subj of courses" [value]="subj">{{ subj }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="addStudentForm.invalid">Add</button>
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </mat-card>
