/* Ensure content fits without scrolling */
.content {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 250px);
    max-width: 100%;
    padding: 10px;
    height: calc(100vh - 60px);
    overflow: auto;
    
}


.table-container {
  overflow: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none;
}


.table-container::-webkit-scrollbar {
  display: none;
}


table {
    width: 100% !important;
    border-collapse: collapse;
    display: table;
}




.mat-table {
    width: 100% !important;
}


mat-paginator {
    margin-top: 10px;
    background: white;
    border-radius: 8px;
}

.student-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.add-button{
  padding: 8px 16px;
  border: none;
  background-color: #3b8d99; 
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
  
  .student-header button {
    margin-left: auto;
  }
  
  
  .table-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #3b8d99;
  }

  .pagination-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px; 
    margin-top: 20px; 
  }

  .pagination-container button {
    padding: 8px 16px;
    border: none;
    background-color: #3b8d99; 
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-container button:hover:not(:disabled) {
    background-color: #3b8d99;
  }
  
  .pagination-container span {
    font-size: 16px;
    font-weight: bold;
  }

  .buttons-container {
    display: flex;
    gap: 10px; 
  }