
<div class="content">
<div class="dashboard-container">
  
  

  <div class="card-container">
    
    <mat-card class="info-card total-students" matRipple>
      <mat-card-title>Total Students</mat-card-title>
      <mat-card-content>
        <p> {{ totalStudents }}</p>
      </mat-card-content>
    </mat-card>

    
    <mat-card class="info-card total-teachers" matRipple>
      <mat-card-title>Total Teachers</mat-card-title>
      <mat-card-content>
        <p> {{ totalTeachers }}</p>
      </mat-card-content>
    </mat-card>

    
    <mat-card class="info-card best-student-card" matRipple>
      <mat-card-title>Best Student</mat-card-title>
      <mat-card-content *ngIf="bestStudent && bestStudent.subjects?.length > 0">
        <p><strong>Name:</strong> {{ bestStudent.name }}</p>
        <p><strong>Subject:</strong> {{ bestStudent.subjects }}</p>
        <p><strong>Marks:</strong> {{ bestStudent.marks }}/100</p>
      </mat-card-content>
      <mat-card-content *ngIf="!bestStudent || bestStudent.subjects?.length === 0">
        <p>No Data Available</p>
      </mat-card-content>
    </mat-card>

    
    <mat-card class="info-card best-teacher-card" matRipple>
      <mat-card-title>Best Teacher</mat-card-title>
      <mat-card-content *ngIf="bestTeacher">
        <p><strong>Name:</strong> {{ bestTeacher.name }}</p>
        <p><strong>Course:</strong> {{ bestTeacher.subjects }}</p>
      </mat-card-content>
      <mat-card-content *ngIf="!bestTeacher">
        <p>No Data Available</p>
      </mat-card-content>
    </mat-card>

  </div>

</div>
</div>

