
<div class="content">
<div class="dashboard-container">
  
  <!-- <h2 class="dashboard-title">Admin Dashboard</h2> -->

  <div class="card-container">
    <!-- Total Students -->
    <mat-card class="info-card total-students" matRipple>
      <mat-card-title>Total Students</mat-card-title>
      <mat-card-content>
        <p> {{ totalStudents }}</p>
      </mat-card-content>
    </mat-card>

    <!-- Total Teachers -->
    <mat-card class="info-card total-teachers" matRipple>
      <mat-card-title>Total Teachers</mat-card-title>
      <mat-card-content>
        <p> {{ totalTeachers }}</p>
      </mat-card-content>
    </mat-card>

    <!-- Best Student -->
    <mat-card class="info-card best-student-card" matRipple>
      <mat-card-title>Best Student</mat-card-title>
      <mat-card-content *ngIf="bestStudent">
        <p><strong>Name:</strong> {{ bestStudent.name }}</p>
        <p><strong>Marks:</strong> {{ bestStudent.marks }}/100</p>
        <p><strong>Subject:</strong> {{ bestStudent.subject }}</p>
        
      </mat-card-content>
      <mat-card-content *ngIf="!bestStudent">
        <p>No Data Available</p>
      </mat-card-content>
    </mat-card>

    <!-- Best Teacher -->
    <mat-card class="info-card best-teacher-card" matRipple>
      <mat-card-title>Top Teacher</mat-card-title>
      <mat-card-content *ngIf="bestTeacher">
        <p><strong>Name:</strong> {{ bestTeacher.name }}</p>
        <p><strong>Course:</strong> {{ bestTeacher.subject }}</p>
      </mat-card-content>
      <mat-card-content *ngIf="!bestTeacher">
        <p>No Data Available</p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
</div>

