<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened class="sidebar">
      <div class="sidebar-header">
        <h2 class="sidebar-heading">Admin Dashboard</h2>
      </div>
      <mat-nav-list>
        <mat-list-item routerLink="/admin/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon> Dashboard
        </mat-list-item>
        <mat-list-item routerLink="/admin/teachers" routerLinkActive="active">
          <mat-icon>group</mat-icon> Teachers
        </mat-list-item>
        <mat-list-item routerLink="/admin/students" routerLinkActive="active">
          <mat-icon>school</mat-icon> Students
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="content">
      <ng-content></ng-content> 
    </mat-drawer-content>
  </mat-drawer-container>
  